<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink='dashboard' [title]="title">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="home">Home</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Subjects <span
            class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Maths</a></li>
          <li><a href="#">Social</a></li>
          <li routerLinkActive="active"><a routerLink="science">Science</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
